[submodule "pgit-package/latest"]
	path = lib/pgit/latest/noarch
	url = https://github.com/Byron/pgit
	branch = master
[submodule "git-python/0.3"]
	path = lib/git-python/0.3/noarch
	url = https://github.com/gitpython-developers/GitPython
	branch = 0.3
